<div class="container">
	<app-start-game></app-start-game>
	<hr>

	<div class="row">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Player</th>
					<th scope="col">Score</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let player of players; let i = index">
					<td>{{player}}</td>
					<td>
						<div class="input-group mb-3">
							<select class="custom-select" name="playerScore" [(ngModel)]="score[i]">
								<option *ngFor="let score of possibleScores" [value]="score">{{score}}</option>
							</select>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row justify-content-center">
		<button class="btn btn-primary" (click)="addScores()" [disabled]="checkAllScores()">Add Scores</button>
	</div>
</div>